* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(0, 0, 0);
}
.logo {
  font-family: "nasa";
  margin-left: 15px;
  font-weight: bold;
  font-size: 40px;
}
.navbar {
  z-index: 3;
  position: fixed;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  font-size: large;
  font-family: "aeonik";
}
.navbar a {
  color: rgb(254, 254, 254);
}
.navbar .nav-links {
  margin-top: 20px;
  display: flex;
  font-size: x-large;
}
.navbar .nav-links ul {
  display: flex;
}
.navbar .nav-links ul li {
  margin: 0 25px;
}
.imageacceuil {
  position: relative;
  top: 0px;
  max-width: 100%;
  min-width: 100%;
  z-index: 1;
  margin-bottom: 0%;
}

#titre1 {
  top: 300px;
  z-index: 2;
  position: absolute;
  margin-left: 15%;
  font-weight: bold;
  font-size: 100px;
  font-family: "aeonikbold";
  width: 100%;
  color: antiquewhite;
  animation-duration: 1.5s;
  animation-name: slideint1;
}

#soustitre1 {
  top: 400px;
  z-index: 2;
  position: absolute;
  margin-left: 15%;
  font-size: 50px;
  font-family: "aeonik";
  font-style: bold;
  width: 100%;
  color: antiquewhite;
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes slideint1 {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 15%;
    width: 100%;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

#page2 {
  width: 100%;
  height: 2200px;
  background-color: black;
}

.titre2 {
  font-weight: bold;
  font-size: 70px;
  font-family: "aeonik";
  width: 100%;
  color: rgb(255, 255, 255);
  margin-top: 100px;
  font-family: 'aeonikbold';
  text-align: center;
  background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.jwstdet{
  position: absolute;
  top: auto;
  width: 100%;
  scale: 50%;
  left: 5%;
}

.t2p2 {
  font-size: 70px;
  color: rgb(255, 255, 255);
  margin-top: 55%;
  font-family: 'aeonikbold','Raleway', sans-serif;
  text-align: center;
  
}

.p1p2 {
    margin-top: 10%;
    text-align: center;
    font-family: 'aeonik';
    color: white;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
}   

.baniere {
  margin-top: 10%;
  width: 100%;
}

.missions{
  
  font-size: 70px;
  color: rgb(255, 255, 255);
  font-family: 'aeonikbold','Raleway', sans-serif;
  text-align: center;
}

#page3{
  width: 100%;
  height: 2200px;
  background-color: black;
}

.missionDroite{
  margin-top: 10%;
  font-size: 35px;
  width: 45%;
  color: rgb(255, 255, 255);
  font-family: 'aeonikbold','Raleway', sans-serif;
  margin-left: 5%;
}

.imageGauche{
  top: -1000px;
  scale: 40%;
  width: 100%;
  margin-left: 15%;
}